<div id="main-container">
  <header>
    <label id="site-name">pixels<div id="dot"></div></label>
  </header>
  <div id="sidebar">

  </div>

  <footer>
    <div id="made-by">
      <p id="made">Pixelated with</p>
      <div class="heart-container">
        <div class="heart"></div>
      </div>
      <p id="by">by <a href="https://github.com/rahul-kabra" target="_blank" rel="noreferrer noopener">Rahul</a></p>
    </div>
  </footer>

  <div id="content">
    <div id="info">
      <p id="welcome-note">Welcome folks 👋</p>
      <p>We all grew up playing video games during the 80's and 90's. And one thing that raised our curiousity levels
        was the way the characters were made.</p>
      <p>Those distinctive colored squares that brought to life our much loved and cherished characters. That's right,
        you guessed it.</p>
      <p id="pixels">PIXELS</p>
      <p>This is a small and fun project that tries to do the same in modern times. Full of colors and reminiscent of
        the comic book aesthetics, see your favorite characters pixelated in all their glory.</p>
      <p>The characters belong to Marvel, DC and my personal favorite, Naruto anime series.</p>
      <p>So, just click on your favorite characters and jump on this adventure bandwagon.</p>
      <p>Go, pixelate. 🤘</p>
    </div>
  </div>
  <div id="right">
    <div id="tile-ant-man">
      <a routerLink="/character/ant-man">
        <div class="title">
          A
        </div>
        <div class="character-description">
          <label>Ant Man</label>
        </div>
      </a>
    </div>
    <div id="tile-aquaman">
      <a routerLink="/character/aquaman">
        <div class="title">
          A
        </div>
        <div class="character-description">
          <label>Aquaman</label>
        </div>
      </a>
    </div>
    <div id="tile-batman">
      <a routerLink="/character/batman">
        <div class="title">
          B
        </div>
        <div class="character-description">
          <label>Batman</label>
        </div>
      </a>
    </div>
    <div id="tile-black-panther">
      <a routerLink="/character/black-panther">
        <div class="title">
          B
        </div>
        <div class="character-description">
          <label>Black Panther</label>
        </div>
      </a>
    </div>
    <div id="tile-black-widow">
      <a routerLink="/character/black-widow">
        <div class="title">
          B
        </div>
        <div class="character-description">
          <label>Black Widow</label>
        </div>
      </a>
    </div>
    <div id="tile-captain-america">
      <a routerLink="/character/captain-america">
        <div class="title">
          C
        </div>
        <div class="character-description">
          <label>Captain America</label>
        </div>
      </a>
    </div>
    <div id="tile-captain-marvel">
      <a routerLink="/character/captain-marvel">
        <div class="title">
          C
        </div>
        <div class="character-description">
          <label>Captain Marvel</label>
        </div>
      </a>
    </div>
    <div id="tile-cyclops">
      <a routerLink="/character/cyclops">
        <div class="title">
          C
        </div>
        <div class="character-description">
          <label>Cyclops</label>
        </div>
      </a>
    </div>
    <div id="tile-deadpool">
      <a routerLink="/character/deadpool">
        <div class="title">
          D
        </div>
        <div class="character-description">
          <label>Deadpool</label>
        </div>
      </a>
    </div>
    <div id="tile-doctor-strange">
      <a routerLink="/character/doctor-strange">
        <div class="title">
          D
        </div>
        <div class="character-description">
          <label>Doctor Strange</label>
        </div>
      </a>
    </div>
    <div id="tile-emma-frost">
      <a routerLink="/character/emma-frost">
        <div class="title">
          E
        </div>
        <div class="character-description">
          <label>Emma Frost</label>
        </div>
      </a>
    </div>
    <div id="tile-falcon">
      <a routerLink="/character/falcon">
        <div class="title">
          F
        </div>
        <div class="character-description">
          <label>Falcon</label>
        </div>
      </a>
    </div>
    <div id="tile-flash">
      <a routerLink="/character/flash">
        <div class="title">
          F
        </div>
        <div class="character-description">
          <label>Flash</label>
        </div>
      </a>
    </div>
    <div id="tile-green-lantern">
      <a routerLink="/character/green-lantern">
        <div class="title">
          G
        </div>
        <div class="character-description">
          <label>Green Lantern</label>
        </div>
      </a>
    </div>
    <div id="tile-hawkeye">
      <a routerLink="/character/hawkeye">
        <div class="title">
          H
        </div>
        <div class="character-description">
          <label>Hawkeye</label>
        </div>
      </a>
    </div>
    <div id="tile-hawkgirl">
      <a routerLink="/character/hawkgirl">
        <div class="title">
          H
        </div>
        <div class="character-description">
          <label>Hawkgirl</label>
        </div>
      </a>
    </div>
    <div id="tile-hulk">
      <a routerLink="/character/hulk">
        <div class="title">
          H
        </div>
        <div class="character-description">
          <label>Hulk</label>
        </div>
      </a>
    </div>
    <div id="tile-ironman">
      <a routerLink="/character/ironman">
        <div class="title">
          I
        </div>
        <div class="character-description">
          <label>Ironman</label>
        </div>
      </a>
    </div>
    <div id="tile-itachi-uchiha">
      <a routerLink="/character/itachi-uchiha">
        <div class="title">
          I
        </div>
        <div class="character-description">
          <label>Itachi Uchiha</label>
        </div>
      </a>
    </div>
    <div id="tile-jean-grey">
      <a routerLink="/character/jean-grey">
        <div class="title">
          J
        </div>
        <div class="character-description">
          <label>Jean Grey</label>
        </div>
      </a>
    </div>
    <div id="tile-kakashi-hatake">
      <a routerLink="/character/kakashi-hatake">
        <div class="title">
          K
        </div>
        <div class="character-description">
          <label>Kakashi Hatake</label>
        </div>
      </a>
    </div>
    <div id="tile-loki">
      <a routerLink="/character/loki">
        <div class="title">
          L
        </div>
        <div class="character-description">
          <label>Loki</label>
        </div>
      </a>
    </div>
    <div id="tile-magneto">
      <a routerLink="/character/magneto">
        <div class="title">
          M
        </div>
        <div class="character-description">
          <label>Magneto</label>
        </div>
      </a>
    </div>
    <div id="tile-martian-manhunter">
      <a routerLink="/character/martian-manhunter">
        <div class="title">
          M
        </div>
        <div class="character-description">
          <label>Martian Manhunter</label>
        </div>
      </a>
    </div>
    <div id="tile-naruto-uzumaki">
      <a routerLink="/character/naruto-uzumaki">
        <div class="title">
          N
        </div>
        <div class="character-description">
          <label>Naruto Uzumaki</label>
        </div>
      </a>
    </div>
    <div id="tile-nightcrawler">
      <a routerLink="/character/nightcrawler">
        <div class="title">
          N
        </div>
        <div class="character-description">
          <label>Nightcrawler</label>
        </div>
      </a>
    </div>
    <div id="tile-obito-uchiha">
      <a routerLink="/character/obito-uchiha">
        <div class="title">
          O
        </div>
        <div class="character-description">
          <label>Obito Uchiha</label>
        </div>
      </a>
    </div>
    <div id="tile-peter-parker">
      <a routerLink="/character/peter-parker">
        <div class="title">
          P
        </div>
        <div class="character-description">
          <label>Peter Parker</label>
        </div>
      </a>
    </div>
    <div id="tile-quill">
      <a routerLink="/character/quill">
        <div class="title">
          Q
        </div>
        <div class="character-description">
          <label>Peter Quill</label>
        </div>
      </a>
    </div>
    <div id="tile-rogue">
      <a routerLink="/character/rogue">
        <div class="title">
          R
        </div>
        <div class="character-description">
          <label>Rogue</label>
        </div>
      </a>
    </div>
    <div id="tile-sasuke-uchiha">
      <a routerLink="/character/sasuke-uchiha">
        <div class="title">
          S
        </div>
        <div class="character-description">
          <label>Sasuke Uchiha</label>
        </div>
      </a>
    </div>
    <div id="tile-scarlet-witch">
      <a routerLink="/character/scarlet-witch">
        <div class="title">
          S
        </div>
        <div class="character-description">
          <label>Scarlet Witch</label>
        </div>
      </a>
    </div>
    <div id="tile-storm">
      <a routerLink="/character/storm">
        <div class="title">
          S
        </div>
        <div class="character-description">
          <label>Storm</label>
        </div>
      </a>
    </div>
    <div id="tile-superman">
      <a routerLink="/character/superman">
        <div class="title">
          S
        </div>
        <div class="character-description">
          <label>Superman</label>
        </div>
      </a>
    </div>
    <div id="tile-thanos">
      <a routerLink="/character/thanos">
        <div class="title">
          T
        </div>
        <div class="character-description">
          <label>Thanos</label>
        </div>
      </a>
    </div>
    <div id="tile-thor">
      <a routerLink="/character/thor">
        <div class="title">
          T
        </div>
        <div class="character-description">
          <label>Thor</label>
        </div>
      </a>
    </div>
    <div id="tile-venom">
      <a routerLink="/character/venom">
        <div class="title">
          V
        </div>
        <div class="character-description">
          <label>Venom</label>
        </div>
      </a>
    </div>
    <div id="tile-vision">
      <a routerLink="/character/vision">
        <div class="title">
          V
        </div>
        <div class="character-description">
          <label>Vision</label>
        </div>
      </a>
    </div>
    <div id="tile-war-machine">
      <a routerLink="/character/war-machine">
        <div class="title">
          W
        </div>
        <div class="character-description">
          <label>War Machine</label>
        </div>
      </a>
    </div>
    <div id="tile-wolverine">
      <a routerLink="/character/wolverine">
        <div class="title">
          W
        </div>
        <div class="character-description">
          <label>Wolverine</label>
        </div>
      </a>
    </div>
    <div id="tile-wonder-woman">
      <a routerLink="/character/wonder-woman">
        <div class="title">
          W
        </div>
        <div class="character-description">
          <label>Wonder Woman</label>
        </div>
      </a>
    </div>
    <div id="tile-yondu">
      <a routerLink="/character/yondu">
        <div class="title">
          Y
        </div>
        <div class="character-description">
          <label>Yondu</label>
        </div>
      </a>
    </div>
    <div id="tile-zatanna">
      <a routerLink="/character/zatanna">
        <div class="title">
          Z
        </div>
        <div class="character-description">
          <label>Zatanna</label>
        </div>
      </a>
    </div>
  </div>
</div>