<div class="container">
  <div id="page-not-found-div" class="custom-top-margin">
    <h1>4😶4</h1>
    <h3>Page Not Found</h3>
    <p>
      This generally shouldn't have happened, but it did. You seem to be finding
      a character which is not present in the character vault.
    </p>
    <p>
      Nevertheless, more characters will be added in the near future and who
      knows, it might be the character you are looking for.
    </p>
    <p id="back">
      For now you can head back over
      <span class="underline"><a routerLink="/about">here.</a></span>
    </p>
  </div>
</div>